{
  "root": true,
  // "parser": "@babel/eslint-parser",
  // "parserOptions": {
  //   "sourceType": "module"
  // },
  "extends": ["standard", "@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/html-self-closing": "off"
  }
}
